
* {
    box-sizing: border-box;
}

#app {
    width: 950px;
    margin: auto;
}

.snowpitytotal {
    display: block;
    text-align: center;
    padding: 60px;
    font-size: large;
}

.snowpity-container, .mares-container {
    display: flex;
    justify-content: space-between;
}

.earthpity, .pegapity, .unipity {
    width: 300px;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}

.earthmares, .pegamares, .unimares {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.mare {
    border: 1px solid #000;
    width: 300px;
    height: 120px;
}

.marecost {
    display: block;
}